html {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &>button {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.5em;
    border-radius: 15px;
  }
}

body {
  display: grid;
  grid-template-rows: 200px 1fr;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.todoArea {
  background-color: lightblue;
  width: 100%;
  /* height: 10px; */
  border-bottom: 2px solid black;

  & h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.todoList {
  background-color: rgb(231, 147, 147);
  height: 600px;
  border: 2px solid black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}